* {
  box-sizing: border-box;
}

body {
  background-color: #065524;
  color: whitesmoke;
}

h1, h2, h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Macondo', cursive;
  font-size: 5rem;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;

}

img, button {
  display: block;
  margin: 0 auto;
}

button {
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: green;
  padding: 1em 2em;
  text-align: center;
  font-size: 1.5rem;
  box-shadow:
      inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(255, 255, 255),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
